<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="UserName">
    <br>
    <input type="password" name="password" placeholder="Password">
    <button>로그인</button>
</form>
<a href="/oauth2/authorization/google">구글 로그인</a> <br/><!-- oauth2 client 라이브러리를 쓰면 고정 -->
<a href="/oauth2/authorization/facebook">페이스북 로그인</a><br/>< <!-- oauth2 client 라이브러리를 쓰면 고정 -->
<a href="/oauth2/authorization/naver">네이버 로그인</a><br/>< <!-- authorization-uri(https://nid.naver.com/oauth2.0/authorize)이 주소가 실행 됨. -->
<br/>
<a href="/joinForm">회원가입을 아직 하지 않으셨나요?</a>
</body>
</html>